 ul,li{
	margin: 0;
    padding: 0;
    list-style: none;
 }
 .main-header {
     height: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
 }

 .main-header canvas {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     z-index: 11;
     height: 100%;
 }

 .main-header .overlay {
     opacity: 0.9;
 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: 10;
 }

 .main-header .gradient-color {
     z-index: 0;
 }

 .gradient-color {
     background: #03001e;
     background: -moz-linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
     background: -webkit-linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
     background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
 }

 .reflection-text:not(.reflection-text-white)::after {
     background: url(../../images/line-break/line-break-18.svg) no-repeat;
 }

 .input-area {
     padding: 10%;
 }

 @media (min-width: 768px) {
     .navbar-nav {
         float: left;
         margin-left: 40px !important;
     }
 }

 .input-box {
     text-align: center;
     z-index: 200
 }

 .section-gap {
     padding: 15px 0;
     text-align: center;
     background-color: #f5f5f5;
     border-top: 1px solid #fff;
     border-bottom: 1px solid #ddd;
 }

 .selectOp {
     width: 60%;
     flex: 3;
 }

 #type-select {
     width: 100%;
 }

 .selectContent {
     width: 100%;
     display: flex;
     color: #fff;
     font-size: 18px;
     padding: 0 10%;
     text-align: left;
     line-height: 32px;
 }

 .selectContent:first-child {
     flex: 1;
 }

 .sug {
     display: none;
     position: absolute;
     z-index: 1;
     width: 100%;
     background: #fff;
     /* border: 1px solid #ccc; */
     _overflow: hidden;
     box-shadow: 1px 1px 3px #ededed;
     -webkit-box-shadow: 1px 1px 3px #ededed;
     -moz-box-shadow: 1px 1px 3px #ededed;
	 -o-box-shadow: 1px 1px 3px #ededed;
	 top:45px;
	 text-align: left;
	 padding-left: 10px;
 }

 .sug li {
     color: #000;
     font: 14px arial;
     line-height: 22px;
     padding: 0 8px;
     position: relative;
	 cursor: default;
	 font-weight: 700;
     width: 100%;
     white-space: nowrap;
     overflow: hidden;
     -ms-text-overflow: ellipsis;
     text-overflow: ellipsis;
 }

 .sug li.sug-s{background:#f0f0f0}
 .popboxclose{
    width: 28px;
    height: 23px;
    cursor: pointer;
    color: #fff;
    background: url(../img/closed.png);
    margin-right: 15px;
    margin-top: 5px;
    float: right;
 }
